body { 
    margin: 0;
    padding: 0;
    background: rgb(23, 35, 51);
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

:root { 
    --theme-color: #2E4052;
    --highlight-color: #FFC857;
    --text-color: #FFFFFF;
    --theme-green: #BDD9BF;
    --theme-purple: #412234;
}

* { 
    box-sizing: border-box; 
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  input,
  textarea {
    font-family: inherit;
  }
  
  span {
    display: block;
  }
  
  a {
    text-decoration: none;
  }